<div class="row">
  <div class="col col-lg-2 side-panel p-0 bg-light bg-gradient">
    <ul class="list-group">
    <li class="list-group-item"><%=@user.display_name%></li>
    <li class="list-group-item disabled">Chat options</li>
    <% @streams.all.map do |stream| %>
      <li class="list-group-item">
        <%= stream.name %>
        <%= link_to '+', user_streams_path(stream_id: stream), class: "btn btn-primary stretched-link", id: "#{stream.id}", method: :post%>
      </li>
    <% end %>
      

    </ul>
  </div>
  <div class="col stream">
    <%= render partial: 'messages/message', collection: @user.messages %>
  </div>
</div>
